:root {
  --accent-color: #B7C09D;
  --back-color: #ECEBE8;
  --base-color: #242424;
  --page-color: #E5E5E5;
  --base-text-size: 16px;
  --body-font: 'Formular', 'Verdana', sans-serif;
  --heading-font: 'Neue-Machina', 'Verdana', sans-serif;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 20px;
  color: #242424;;
  background-color: var(--page-color);
  font-family: 'Formular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
