.header__menu {
  position: fixed;
  box-sizing: border-box;
  top: 80px;
  right: 0;
  left: 0;
  bottom: calc(100% - 80px);
  overflow: auto;
  padding: 0 16px 0;
  background-color: var(--page-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all .3s linear;
}
