.menu-button__burger {
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: all .2s linear;
}

.menu-button__burger::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-7px);
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all .2s linear;
}

.menu-button__burger::after {
  content: '';
  position: absolute;
  bottom: 50%;
  transform: translateY(7px);
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all .2s linear;
}
