.photo-section {
  min-width: 320px;
}

.photo-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2px 3px;
  justify-items: center;
}

.photo-section__list-item {
  margin: 0;
  padding: 0;
}

.photo-section__list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-section__heading {
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .photo-section__list {
    grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
    gap:1px 1px;
  }
  .photo-section__heading{
    margin-bottom: 42px;
  }
}
