.link {
  display: flex;
  align-items: center;
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.375;
  font-weight: 300;
  color: var(--base-color);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.link::before {
  opacity: 0;
  content: '';
  width: 10px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 25C5.477 25 1 19.627 1 13S5.477 1 11 1' stroke='%23242424'/%3E%3C/svg%3E");
  background-size: 10px 24px;
  background-repeat: no-repeat;
  background-position: cover;
}
.link::after {
  opacity: 0;
  content: '';
  width: 10px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 25c5.523 0 10-5.373 10-12S5.523 1 0 1' stroke='%23242424'/%3E%3C/svg%3E");
  background-size: 10px 24px;
  background-repeat: no-repeat;
  background-position: cover;
}

.link:hover::before, .link:hover::after {
  opacity: 1;
}
