.menu-button__burger_opened {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.menu-button__burger_opened::before {
  top: calc(62% - 1px);
  left: calc(12%);
  rotate: 45deg;
}

.menu-button__burger_opened::after {
  bottom: calc(62% - 1px);
  left: calc(12%);
  rotate: -45deg;
}
