.about {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: var(--accent-color);
  position: relative;
}

.section-title_about {
  margin: 56px auto 17px auto;
  text-align: start;
  width: 90%;
  height: 40px;
}

@media (min-width: 768px) {
  .section-title_about {
    margin-top: 79px;
    max-width: 716px;
  }
  }

.about__description {
  margin: 0 24px 72px 85px;
  width: 70%;
  height: 58%;
  max-width: 509px;
}

@media (min-width: 520px) {
  .about__description {
    margin: 0 auto 120px auto;
  }
}

@media (min-width: 1300px) {
  .about__description {
    margin: 0 auto 120px 420px;
  }
}
